/* Global Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

/* Header Top Section */
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FF6F4A;
  padding: 10px 20px;
}

.social-media {
  color: white;
}

.projectName {
  color: #FF6F4A;
  text-decoration: none;
  background-color: transparent; /* This is redundant for links, you can remove it */
}

.projectName:hover {
  color: #FF6F4A; /* Keeps the same color on hover */
  text-decoration: none; /* Optional: add underline for better visibility */
}

.social-media span {
  margin-right: 15px;
}

.social-media a {
  margin-right: 10px;
  color: white;
  font-size: 18px;
  text-decoration: none;
}

.contact-info {
  display: flex;
  align-items: center;
  color: white;
}

.contact-info .call-now {
  margin-right: 10px;
  font-weight: bold;
}

.contact-info .phone {
  margin-right: 20px;
}

.contact-info .email {
  margin-left: 10px;
}

/* Header Bottom Section */
.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #004D60;
  padding: 8px 18px;
}

.logo h1 {
  color: #FF6F4A;
  display: flex;
  align-items: center;
  font-size: 28px;
}

.logo-icon {
  margin-right: 10px;
}

.navbar ul {
  list-style-type: none;
  display: flex;
}

.navbar li {
  margin: 0 15px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.navbar a:hover {
  color: #FF6F4A;
  text-decoration: none;
}

/* Admission Button */
.login a {
  background-color: #FF6F4A;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  margin: 1px 5px;
}

.login a:hover {
  background-color: #004D60;
  text-decoration: none;
}

.signup a {
  background-color: #FF6F4A;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;

}

.signup a:hover {
  background-color: #004D60;
  text-decoration: none;
}

/* Header Container */
.header-top {
  justify-content: space-between;
  align-items: center;
  padding: 8px 18px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.header-bottom {
  justify-content: space-between;
  align-items: center;
  padding: 8px 18px;
  position: fixed;
  top: 37px;
  left: 0;
  right: 0;
  z-index: 1000;
}
